:root {
  --lasa-purple-dark: #5e035e;
  --lasa-purple: purple;
  --lasa-purple-light: #bc06bc;
  --dark: #5c5c5c;
  --light: #dfd3b9;

  --gold: #d4af37;
  --silver: #c0c0c0;
  --bronze: #cd7f32;
  --negative: #880000;
}

body {
  background: #383838;
  color: var(--light);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}

#header {
  position: absolute;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(180deg, 
    var(--lasa-purple-dark) 0%,
    var(--lasa-purple-dark) 65%,
    #383838
  );
  
  color: var(--light);
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
}

#header > span {
  padding-top: 0px;
  font-weight: bolder;
  font-size: 3.5vw;
  text-shadow: 0 0 10px var(--lasa-purple-light);
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container> *:nth-of-type(1) {
  background: linear-gradient(145deg, 
    var(--lasa-purple) 0%,
    var(--lasa-purple) 25%,
    var(--gold) 80%
  );

  border-color: var(--gold);
}

.container > *:nth-of-type(2) {
  background: linear-gradient(145deg, 
    var(--lasa-purple) 0%,
    var(--lasa-purple) 25%,
    var(--silver) 80%
  );

  border-color: var(--silver);
}

.container > *:nth-of-type(3) {
  background: linear-gradient(145deg, 
    var(--lasa-purple) 0%,
    var(--lasa-purple) 25%,
    var(--bronze) 80%
  );
  
  border-color: var(--bronze);
}

.scorecard {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  
  background: linear-gradient(145deg, 
    var(--lasa-purple) 0%,
    var(--lasa-purple) 25%,
    var(--lasa-purple-dark) 80%
  );
  
  border: 4px solid var(--dark);
  
  width: 80vw;
  height: 10vh;
  
  border-radius: 30px;
  margin: 10px;
  
  box-shadow: 0 0 15px rgb(0, 0, 0);
  transition: scale 0.2s ease-in-out;
}

.scorecard:hover {
  scale: 1.1;
}

.scorecard > * {
  position: absolute;
  transform: translate(0%, -50%);
}

.negative {
  background: linear-gradient(145deg, 
    var(--lasa-purple) 0%,
    var(--lasa-purple) 25%,
    var(--negative) 60%
  );

  border-color: var(--negative);
}

.scorecard > .title {
  top: 50%;
  left: 50px;
  
  font-size: 7vh;
  font-weight: bolder;
}

.scorecard > .score {
  color: var(--light);
  
  top: 50%;
  right: 50px;
  
  height: calc(90% - 60px);
  min-width: calc((15vh * 0.9) - 20px);
  padding: 20px;
  
  border-radius: 10px;
  
  font-size: 7vh;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}